
$worldColor: '#88b99e';

html {
  overflow-x: auto;
}
html, body {
  width: 100%;
  height: 100%;
  font-size: 16px;
}
body,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
input,
p,
blockquote,
th,
td {
  font-weight: 400;
  text-align: left;
}

h1,
h2,
h3,
h4,
h4,
h5 {
  text-align: left;
}

body {
  color: #666;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  text-align: left;
  background: url(//cdn.jsdelivr.net/gh/woniu1112/static-cdn/static/img/body-bg.jpg) top center #6e6858;
  background-size: 100% 100%;
  background-attachment: fixed;
  min-width: 1020px;
}

select {
  font-size: 12px;
}

table {
  border-collapse: collapse;
}
table, td, th {
  border: 1px solid #ccc;
}
t

fieldset,
img {
  border: 0 none;
}

fieldset {
  margin: 0;
  padding: 0;
}

fieldset p {
  margin: 0;
  padding: 0 0 0 8px;
}

legend {
  display: none;
}

address,
caption,
em,
strong,
th,
i {
  font-style: normal;
  font-weight: 400;
}

table caption {
  margin-left: -1px;
}

hr {
  border-bottom: 1px solid #FFFFFF;
  border-top: 1px solid #E4E4E4;
  border-width: 1px 0;
  clear: both;
  height: 2px;
  margin: 5px 0;
  overflow: hidden;
}

ol,
ul {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
}

caption,
th {
  text-align: left;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}

/*滚动条样式*/
#markdownBox::-webkit-scrollbar, .gt-comments::-webkit-scrollbar{
  width:5px;
  height:10px;
}
#markdownBox::-webkit-scrollbar-track, .gt-comments::-webkit-scrollbar-track{
  background: radial-gradient(#6e6858, transparent);
  border-radius:2px;
}
#markdownBox::-webkit-scrollbar-thumb, .gt-comments::-webkit-scrollbar-thumb{
  background: radial-gradient(#b9d3e0, transparent);
  border-radius:10px;
}
#markdownBox::-webkit-scrollbar-thumb:hover, .gt-comments::-webkit-scrollbar-thumb:hover{
  background: #333;
}
#markdownBox::-webkit-scrollbar-corner, .gt-comments::-webkit-scrollbar-corner{
  background: #179a16;
}
